.content{
    display: grid;
    grid-template-columns: 60% 40%; /* A soma tem que dar 100%*/
    grid-template-rows: 11.4rem 1fr; /*Vai dividir o topo e o resto e 1 fração */

    grid-template-areas:
    'header header' /* Dizendo que quer um fica para direira e o outro para esquerda */
    'left left'
}

header{
    grid-area: header;
}

#bg{
    grid-area: left;
    background: url('/assets/Ilustracao.svg') no-repeat top/contain;
    background-position-x: 0px;
    height: 780%;
}

main{
    grid-area: right;

    display: flex;
    align-items: center;
}

main .content{
    width: min(35.rem 100%);
}

main h2{
    font-family: 'Poppins', sans-serif;
    color: var(--Black);
    font-size: clamp(20px, 5vw, 2.8rem);
    margin-bottom: 2.4rem;
}

input{
    border: .2px solid var(--Grey-Blue);
    padding: 1.6rem;
}

/* Botão "Entrar na Sala e Criar Sala" Almentar prorpoção*/
imput, button, .button {
    width: 200%;
    margin-bottom: 1.8rem;
}